<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicial"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-padding-top ion-text-center">Registro EcoGarden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>      
    </ion-card-header>  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input 
            label="Nombre de usuario" 
            labelPlacement="floating" 
            type="text" 
            placeholder="Ingrese su nombre de usuario" 
            name="nombreUsuario" 
            [(ngModel)]="usuario.nombreUsuario"
            (ionInput)="validarCampo('nombreUsuario')"
            [disabled]="cargando">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
            label="Nombre completo" 
            labelPlacement="floating" 
            type="text" 
            placeholder="Ingrese su nombre completo" 
            name="nombre" 
            [(ngModel)]="usuario.nombre"
            (ionInput)="validarCampo('nombre')"
            [disabled]="cargando">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
            label="Email" 
            labelPlacement="floating" 
            type="email" 
            placeholder="econotes@domain.com" 
            name="email" 
            [(ngModel)]="usuario.email"
            (ionBlur)="validarEmail()"
            (ionInput)="validarEmail()"
            [disabled]="cargando">
          </ion-input>
          <ion-note *ngIf="emailInvalido" color="danger" slot="error">
            Por favor ingrese un email válido
          </ion-note>
          <ion-note *ngIf="verificandoEmail" slot="helper">
            Verificando email...
          </ion-note>
        </ion-item>
        
        <ion-item>
          <ion-input 
            label="Contraseña" 
            labelPlacement="floating" 
            type="password" 
            placeholder="Ingrese contraseña" 
            [(ngModel)]="usuario.contrasena"
            (ionInput)="validarCampo('contrasena')"
            [disabled]="cargando">
          </ion-input>
        </ion-item>      
      </ion-list>
      
      <div *ngIf="errorRegistro" class="error-message">
        <ion-text color="danger">
          {{ mensajeError }}
        </ion-text>
      </div>
      
      <br>
      <ion-button 
        expand="block" 
        (click)="registrar()" 
        color="mycolor" 
        [disabled]="!formularioValido()">
        <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>
        <span *ngIf="!cargando">Registrarse</span>
      </ion-button>
      
      <ion-button 
        expand="block" 
        fill="clear" 
        color="medium" 
        routerLink="/inicial" 
        routerDirection="root"
        [disabled]="cargando"
        class="ion-margin-top">
        ¿Ya tienes cuenta? Inicia sesión
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>