<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <!-- Avatar del usuario -->
      <ion-avatar class="user-avatar" (click)="cambiarFotoPerfil()">
        <img [src]="fotoPerfil" [alt]="nombreMostrar" *ngIf="usuarioActual?.foto_perfil">
        <ion-icon name="person" size="large" *ngIf="!usuarioActual?.foto_perfil"></ion-icon>
        <div class="edit-overlay">
          <ion-icon name="camera" class="edit-icon"></ion-icon>
        </div>
      </ion-avatar>
      
      <ion-title class="welcome-title">
        Bienvenid@ {{nombreMostrar}} a Ecogarden
      </ion-title>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear" color="dark" class="logout-btn">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="mycolor">
    <ion-segment (ionChange)="segmentChanged($event)" value="uno">
      <ion-segment-button value="uno">
        <ion-icon name="home" color="dark"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-icon name="leaf" color="dark"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tres">
        <ion-icon name="document" color="dark"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="wiki">
        <ion-icon name="library" color="dark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>