<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página No Encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img alt="404" src="https://www.shutterstock.com/image-vector/oops-404-sorry-page-not-260nw-2330827325.jpg" />
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Error 404</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Esta pagina no existe o esta en Construcción
  </ion-card-content>
</ion-card>
</ion-content>